<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hata!</title>
    <style>
        body,
        html {
            font-family: Arial, Helvetica, sans-serif;
            height: 100%;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        .box {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            box-shadow: 1px 1px 15px 3px rgb(128, 0, 0);
            border-radius: 15px;
            background-color: rgb(231, 231, 231);
            min-height: 300px;
            min-width: 300px;
            
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module">
        document.getElementById("retry").addEventListener("click", () => {
            Swal.fire({
                title: 'Tamamdır!',
                text: 'Tekrar Deneniyor...',
                confirmButtonText: 'Cool',
                async didOpen() {
                    Swal.showLoading()
                   
                }
            })
        
            setTimeout(() => window.location.href = document.URL, 1000)
            
        })
    </script>
</head>

<body>
    <div class="box">
        <img src="/images/error.png" alt="error" width="150px">
        <span style="font-size: 40px;">Hata</span>
        <br>
        <b>Sebep;</b>
        <span style="margin: 10px;"><%= reason %></span>
            <br><br><b>Lütfen daha sonra tekrar deneyiniz.</b>
            <br>
            <button class="btn btn-success" id="retry">Tekrar Dene!</button>
            <br>
    </div>
</body>

</html>